<div class="container">
  <form class="row" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput placeholder="John" formControlName="first_name">
        <mat-error>This field is require</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Low" formControlName="last_name">
        <mat-error>This field is require</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="abc123@example.com" formControlName="email">
        <mat-error>This field is require</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="1234567890" formControlName="phone">
        <mat-error>This field is require</mat-error>
      </mat-form-field>
    </div>

    <div formArrayName="addresses">
      <div class="row" *ngFor="let address of addresses.controls; index as i" [formGroupName]="i">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Adress line 1</mat-label>
            <input matInput placeholder="No.1" formControlName="line1">
            <mat-error>This field is require</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Adress line 2</mat-label>
            <input matInput placeholder="Jalan abc" formControlName="line2">
            <mat-error>This field is require</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" (valueChange)="onCountryChange($event)">
              <mat-option *ngFor="let country of countries" [value]="country.value">
                {{country.key}}
              </mat-option>
            </mat-select>
            <mat-error>Please choose a country</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="state" (valueChange)="onStateChange($event)">
              <mat-option *ngFor="let state of states" [value]="state.value">
                {{state.key}}
              </mat-option>
            </mat-select>
            <mat-error>Please choose a state</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of cities" [value]="city.value">
                {{city.key}}
              </mat-option>
            </mat-select>
            <mat-error>Please choose a city</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Postcode</mat-label>
            <input matInput placeholder="123456" formControlName="postcode" type="number">
            <mat-error>This field is require</mat-error>
          </mat-form-field>
        </div>

      </div>
      <button mat-raised-button type="button" (click)="addAddress()">Add address</button>
    </div>
    <!-- button -->
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-button type="button">Cancel</button>
  </form>
</div>